<div class='container'>  
  <div class='heading-title'>
    <p class='headind-text'>About this website</p>
  </div>
  <div class='row mt-3'>
    <div class='col-10 mx-auto'>
      <p class='text-center'><%= I18n.t('homes.about.first_line') %></br>
      <%= I18n.t('homes.about.second_line') %></br>
      <%= I18n.t('homes.about.third_line') %></br>
      <%= I18n.t('homes.about.fourth_line') %></p>
    </div>
  </div>
</div>