<div class='container'>  
  <div class='heading-title'>
    <p class='headind-text'>About this website</p>
  </div>
  <div class='row mt-3'>
    <div class='col-10 mx-auto'>
      <p class='text-center'>コーヒーショップを巡ったり、自宅でも豆を挽いたり、</br>
      様々な種類のコーヒーに出会う日常を過ごしていると、</br>
      せっかく出会えた味わいを記録して、美味しいショップや商品はシェアしたいという気持ちが募るものです。</br>
      世の中のコーヒー好きやマニアの方々に向けた、味わいを記録するためのサイトです。</p>
    </div>
  </div>
</div>