<div class='container'>
  <div class='heading-title'>
    <p class='headind-text'>Popular posts</p>
  </div>
  <div class='row mt-3 d-flex'>
    <%= link_to coffees_path, class: 'col-5' do %>
      <div class='align-middle'>
        <span class='mr-2 ml-auto'>Coffee Beans</span>
      </div>
    <% end %>
    <div class='col-7'>
      <p>後ほどここに人気投稿一覧表示</p>
    </div>
  </div>
  <div class='row d-flex'>
    <div class='col-7'>
      <p>後ほどここに人気ユーザー一覧表示</p>
    </div>
    <%= link_to users_path, class: 'col-5' do %>
      <div class='align-middle'>
        <span class='ml-2 mr-auto'>Coffee Lovers</span>
      </div>
    <% end %>
  </div>
</div>