<div class='container'>
  <div class='heading-title'>
    <p class='headind-text'>Popular posts</p>
  </div>
  <div class='row mt-3 d-flex'>
    <div class='col-5 align-middle'>
      <span class='mr-2 ml-auto'>Coffee Beans</span>
    </div>
    <div class='col-7'>
      <p>後ほどここに人気投稿一覧表示</p>
    </div>
  </div>
  <div class='row d-flex'>
    <div class='col-7'>
      <p>後ほどここに人気投稿一覧表示</p>
    </div>
    <div class='col-5 align-middle'>
      <span class='ml-2 mr-auto'>Coffee Shops</span>
    </div>
  </div>
</div>