<footer class="text-white py-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <h1>Coffee Recorder</h1>
      </div>
      <div class="col-md-8">
        <ul class="list-unstyled">
          <li class='text-right mb-2'>
            <%= link_to I18n.t('links.home'), root_path, class: "text-white-50" %>
          </li>
          <li class='text-right mb-2'>
            <%= link_to I18n.t('links.about'), about_path, class: "text-white-50" %>
          </li>
          <li class='text-right'>
            <%= link_to I18n.t('links.admin'), new_admin_session_path, class: "text-white-50" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>